
h2 {
  color: $brand-primary;
  font-weight: 600;
}

h3 {
  color: $brand-secondary;
  font-weight: 500;
}

ul {
  list-style-image: url($assets-bullet-point-small-png);
}

.channel-text {
  color: $brand-primary;
  font-weight: 700;
}



