<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
     <ol class="breadcrumbs">
         <li>{{#link "my_activities"}}Mes demandes{{/link}}</li>
         <li>Envoyer une demande</li>
     </ol>

  </nav>

  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>

  <div id="main-content" class="form">
    {{request_form}}
  </div>
</div>
