@import "normalize";
// Custom Bootstrap variable overrides go first
@import 'custom/custom-bs-variables';

// Then include the following
@import 'bootstrap/bootstrap.scss';

// Continue Zendesk Theme
@import "variables";
@import "mixins";
@import "base";
@import "buttons";
@import "split_button";
@import "tables";
@import "forms";
@import "header";
@import "user";
@import "footer";
@import "breadcrumbs";
@import "search";
@import "hero";
@import "page_header";
@import "sub-nav";
@import "blocks";
@import "home-page";
@import "recent-activity";
@import "category";
@import "section";
@import "article";
@import "attachments";
@import "share";
@import "comments";
@import "vote";
@import "actions";
@import "community";
@import "striped_list";
@import "status-label";
@import "post";
@import "collapsible-nav";
@import "collapsible-sidebar";
@import "my-activities";
@import "request";
@import "pagination";
@import "metadata";
@import "user-profiles";
@import "search_results";
@import "notifications";
@import "dropdowns";

// Customizations
@import 'custom/typography';

.channel {
  border: 12px #00aed6 solid;
  width: 160px;
  height: 160px;
}

.channel-img {
  max-width: 50%;
  max-height: 40%;
}

.wellflare-left {
  background-color: #f2f2f2;
  border-left: 16px #00aed6 solid;
}

.wellflare-right {
  background-color: #f2f2f2;
  border-right: 16px #00aed6 solid;
}

.user-info > button::after {
  padding-right: 0px;
  display: none;
}

.user-info .dropdown-toggle::after {
  display: none;
}